$bg-large: #34035E;
$bg-medium: #430475;
$bg-small: #511387;
$bg-small-opacity:rgba(81, 19, 135, 0.6);
$bg-light: #C3A6ED;
$text-light: #E5D9F9;
$text-color: #FEDA00;
$font-title:"dancing-script-bold";